@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

:root {
  --primary: #3b82f6;
  --primary-dark: #2563eb;
  --secondary: #14b8a6;
  --accent: #fde047;
}